.container{
    width: 70%;
    text-align: center;
    margin: auto;
    
}

.dice{
    text-align: center;
    display: inline-block;
}
body{
    background-color: #393E46;
}
h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
}
p{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
.img{
    width: 80%;
    margin: 100px;
}
.img1{
    margin: 40px;
}
.img2{
    margin: 40px;
}
footer{
    text-align: center;
    color: #ffffff;
    font-family: 'Indie Flower', cursive;
    margin-top: 20px;

}